body {
    margin: 0;
    overscroll-behavior: none;
}

#messages_container {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: red;
}

#input_holder {
    width: 100vw;
    height: 60px;
    /* background-color: blue; */
    position: absolute;
    bottom: 0;
}

#message_input {
    width: calc(100vw - 50px);
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 3px solid black;
    padding-left: 10px;
}

#message_input:focus {
    outline: none;
    border: 3px solid rgb(19, 197, 93);
}

#send_btn {
    height: 27px;
    width: 25px;
    position: absolute;
    top: 18px;
    right: 15px;
    outline: none;
    border: 0;
    border-left: 3px solid black;
    border-radius: 0 15px 15px 0;
}

#send_btn i {
    margin-left: -5px;
}

#messages {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 60px - 40px);
    top: 20px;
    left: 20px;
    background-color: green;
}