body {
    margin: 0;
    overscroll-behavior: none;
    background-color: rgb(229, 229, 229);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#messages_container {
    width: 100vw;
    height: calc(100vh - 60px);
}

#input_holder {
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
}

#message_input {
    width: calc(100vw - 50px);
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 3px solid black;
    padding-left: 10px;
}

#message_input:focus {
    outline: none;
    border: 3px solid rgb(19, 197, 93);
}

#send_btn {
    height: 27px;
    width: 25px;
    position: absolute;
    top: 18px;
    right: 15px;
    outline: none;
    border: 0;
    border-left: 3px solid black;
    border-radius: 0 15px 15px 0;
}

#send_btn:hover {
    cursor: pointer;
}

#send_btn i {
    margin-left: -5px;
}

#messages {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 60px - 40px);
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#messages ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

#messages ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    max-width: 80%;
}

.list-ai {
    align-self: flex-start;
}

.list-user {
    align-self: flex-end;
    justify-content: flex-end;
}

.list-ai div {
    background-color: lightgray;
}

.list-user div {
    background-color: rgb(0, 145, 255);
    color: white;
}

.list-ai img {
    margin-right: 10px;
}

.list-user img {
    margin-left: 10px;
}

#messages img {
    height: 35px;
    width: 35px;
    animation: fadeInSlideUp 0.5s ease-in-out forwards;
}

.message-bubble {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    animation: fadeInSlideUp 0.5s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#main-logo {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
}

.spin-fade {
    animation: spin 0.5s linear;
    opacity: 0.3;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: 1s linear;
}

#loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#ffa516);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

@keyframes l13{ 
    100%{transform: rotate(1turn)}
}