:root {
    --highlight: rgb(35, 41, 127);
    --accent: rgb(67, 74, 175);
    --beige: rgb(242, 235, 223);
    overscroll-behavior: none;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: var(--highlight);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-light {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.bg-semi {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 75px;
    border-bottom: 5px solid black;
    background-color: var(--beige);
    z-index: 9999;
}

.name {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    left: 70px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

#tourster img {
    width: 50px;
    margin-top: 13px;
    margin-left: 10px;
}

#tourster span {
    font-size: 35px;
    line-height: 80px;
}

#tourster2 img {
    width: 55px;
}

#tourster2 span {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 65px;
}

#links {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    font-size: 20px;
}

#links span {
    padding: 30px;
}

#links a, footer a {
    color: inherit;
    text-decoration: inherit;
}

#buttons {
    position: absolute;
    top: 0;
    right: 17.5px;
    line-height: 75px;
}

#buttons button, #waitlist {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    outline: 3px solid var(--highlight);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#signup_btn {
    margin-right: 20px;
    background-color: var(--highlight);
    color: white;
}

#signup_btn:hover {
    background-color: var(--accent);
    outline: 3px solid var(--accent);
}

#login_btn {
    background-color: white;
    color: var(--highlight);
}

#login_btn:hover {
    background-color: var(--highlight);
    color: white;
}

.spawner {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.particles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(184, 184, 184, 0.4);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#heading {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    width: calc(25px * 24);
    animation: typing 2.5s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

#heading h1 {
    background-image: url('/static/images/gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes typing {
    from {
        width: 0
    }
}
        
@keyframes blink {
    50% {
        border-color: transparent
    }
}

#soon {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.fancy {
    position: relative;
    white-space: nowrap;
}

.fancy:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
}

#blocker {
    width: 100vw;
    height: 100vh;
}

footer {
    margin: 50px;
    height: 350px;
    width: calc(100% - 100px);
    position: relative;
}

footer hr {
    border: none;
    height: 3px;
    color: rgb(87, 89, 114);
    background-color: rgb(87, 89, 114);
}

footer a {
    text-decoration: underline;
}

#footer_topleft {
    width: 50%;
    height: calc(100% - 35px);
}

#footer_topright {
    width: 50%;
    height: calc(100% - 35px);
    position: absolute;
    top: 0;
    left: 50%;
}

#footer_bottom {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0px;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#agreements {
    display: inline-block;
    position: absolute;
    right: 0;
}

#agreements a {
    text-decoration: none;
    padding: 15px;
}

#desc {
    margin-top: 10px;
    font-size: 20px;
}

#waitlist {
    background-color: white;
    color: var(--highlight);
    margin: 20px;
    margin-left: 3px;
    width: 100px;
}

#waitlist:hover {
    background-color: var(--highlight);
    color: white;
}

#tiny {
    font-size: 12px;
}

.table_component {
    overflow: auto;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

.table_component table {
    border: 3px none #000005;
    height: 180px;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.table_component th {
    border: 3px none #000005;
    color: #000000;
    padding: 30px 0 30px 0;
}

.table_component td {
    border: 3px none #000005;
    color: #000000;
    height: 10px;
}

/* resizing for different sizes/devices */
@media only screen and (max-width: 872px) {
    #tourster span {
        display: none;
    }

    #links {
        left: 70px;
        transform: none;
    }

    #links span {
        padding: 10px;
    }
}

@media only screen and (max-width: 660px) {
    #heading {
        font-size: 20px;
        width: calc(25px * 19);
    }

    #soon {
        top: 250px;
    }
}

@media only screen and (max-width: 600px) {
    #links span {
        padding: 5px;
    }

    #buttons {
        line-height: 50px;
    }

    #buttons button {
        width: 60px;
        height: 20px;
        border-radius: 5px;
    }

    #signup_btn {
        margin-right: 10px;
    }

    #links {
        left: unset;
        right: 10px;
        line-height: unset;
        line-height: 115px;
    }
}

@media only screen and (max-width: 500px) {
    #heading {
        font-size: 15px;
        width: calc(25px * 14 + 5px);
    }

    #soon {
        top: 240px;
    }
}

@media only screen and (max-width: 360px) {
    #links {
        font-size: 15px;
    }

    #heading {
        font-size: 10px;
        width: calc(240px);
    }

    #soon {
        top: 230px;
    }
}