#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 75px;
    background-color: white;
    z-index: 9999;
}

.logo {
    cursor: pointer;
}

#tourster img {
    width: 50px;
    margin-top: 13px;
    margin-left: 10px;
}

#tourster span {
    font-size: 35px;
    line-height: 80px;
}

#links {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    font-size: 20px;
}

#links span {
    padding: 30px;
}

#links a {
    color: inherit;
    text-decoration: inherit;
}

.buttons {
    position: absolute;
    top: 0;
    right: 17.5px;
    line-height: 75px;
}

.buttons button {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    outline: 3px solid var(--highlight);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#signup_btn, #logout_btn {
    background-color: var(--highlight);
    color: white;
}

#signup_btn:hover, #logout_btn:hover {
    background-color: var(--accent);
    outline: 3px solid var(--accent);
}

#signup_btn {
    margin-right: 20px;
}

#login_btn {
    background-color: white;
    color: var(--highlight);
}

#login_btn:hover {
    background-color: var(--highlight);
    color: white;
}

.progress-container {
    width: 100%;
    height: 8px;
    position: absolute;
    top: 75px;
}

.progress-bar {
    height: 8px;
    background: linear-gradient(45deg, #00b4db, #00a859, #00b4db);
    background-size: 200% 200%;
    width: 0%;
}

@media only screen and (max-width: 872px) {
    #tourster span {
        display: none;
    }

    #links {
        left: 70px;
        transform: none;
    }

    #links span {
        padding: 10px;
    }
}

@media only screen and (max-width: 770px) {
    #agreements {
        right: unset;
        left: 0;
        top: 20px;
        display: inline-block;
    }

    footer {
        margin-bottom: 0;
    }

    #footer_bottom {
        position: absolute;
        bottom: 30px;
    }

    #agreements a {
        padding: 5px;
    }
}

@media only screen and (max-width: 660px) {
    #heading {
        font-size: 20px;
        width: calc(25px * 19);
    }

    #soon {
        top: 250px;
    }
}

@media only screen and (max-width: 600px) {
    #links span {
        padding: 5px;
    }

    #buttons {
        line-height: 50px;
    }

    #buttons button {
        width: 60px;
        height: 20px;
        border-radius: 5px;
    }

    #signup_btn {
        margin-right: 10px;
    }

    #links {
        left: unset;
        right: 10px;
        line-height: unset;
        line-height: 115px;
    }

    #large_table {
        display: none;
    }

    #small_table {
        position: absolute;
        top: -130px;
        left: -2px;
        display: block;
    }

    #footer_topleft {
        width: 100%;
        height: unset;
    }

    #footer_bottom {
        top: 400px;
    }

    #desc {
        margin-top: -20px;
    }

    #waitlist {
        display: inline-block;
        height: 20px;
        width: 60px;
        border-radius: 5px;
        margin: 10px;
    }

    #footer_topright {
        width: 100%;
        position: absolute;
        left: unset;
        top: 220px;
    }

    #tourster2 {
        margin-bottom: 0;
    }

    footer {
        height: 500px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    #heading {
        font-size: 15px;
        width: calc(25px * 14 + 5px);
    }

    #soon {
        top: 240px;
    }
}

@media only screen and (max-width: 450px) {
    #agreements a {
        display: block;
        padding: 0;
    }

    #footer_bottom {
        line-height: 25px;
    }
}

@media only screen and (max-width: 410px) {
    #tourster2 img {
        width: 40px;
    }

    #tourster2 span {
        font-size: 25px;
        line-height: 45px;
        left: 50px;
    }

    #desc {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    #links {
        font-size: 15px;
    }

    #heading {
        font-size: 10px;
        width: calc(240px);
    }

    #soon {
        top: 230px;
    }

    #footer_bottom span, #agreements a {
        font-size: 12px;
    }

    #footer_bottom {
        line-height: 20px;
    }
}

@media only screen and (max-width: 350px) {
    #waitlist {
        margin-left: 0px;
    }
}