:root {
    --highlight: rgb(35, 41, 127);
    --accent: rgb(67, 74, 175);
    --beige: rgb(242, 235, 223);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    color: var(--highlight);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-light {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.bg-semi {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#blocker {
    width: 100vw;
    height: 420vh;
}

#content {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0 auto;
}

#from, #to {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px 20px 0 0;
    border: 3px solid var(--highlight);
    margin: 20px 0 20px 20px;
}

#from:focus, #to:focus {
    border: 3px solid var(--accent);
    outline: none;
}

.list {
    display: inline-block;
    list-style: none;
    min-width: 216px;
    max-width: 216px;
    position: absolute;
    top: 100px;
}

#from_list {
    left: 159.5px;
}

#to_list {
    right: 139.5px;
}

.list-items {
    background-color: white;
    padding: 5px;
    border: 3px solid grey;
    border-top: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-items:last-child {
    border-radius: 0 0 20px 20px;
}

#where span {
    position: absolute;
    top: 50px;
}

#where span:nth-child(1) {
    left: 35%;
    transform: translateX(-50%);
}

#where span:nth-child(2) {
    right: 28%;
}

#content h2 {
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#datePicker {
    width: 200px;
    padding: 5px;
}

.flatpickr-calendar {
    font-size: 12px;
    width: auto;
    margin: 0 auto;
}

.number-inputs {
    display: flex;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 60px;
    height: 30px;
    padding: 5px;
    border: 2px solid var(--highlight);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-right: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    justify-content: center;
    max-width: 100%;
}

.radio-group label {
    border: 2px solid #1a1a8c;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #1a1a8c;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    justify-content: center;
    max-width: 100%;
}

h4 {
    line-height: 30px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.checkbox-group label {
    border: 2px solid #1a1a8c;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #1a1a8c;
    color: white;
}
  
#budgetText {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.budget-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#budgetText {
    width: 120px;
    padding: 5px;
    border: 2px solid var(--highlight);
    border-radius: 5px;
    font-size: 16px;
}

#budgetSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
    position: relative;
}

#budgetSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--highlight);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-top: -6px; /* Center the thumb */
}

#budgetSlider::-moz-range-thumb {
    background: var(--highlight);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#budgetSlider::-ms-thumb {
    background: var(--highlight);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#budgetSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

#budgetSlider::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

#budgetSlider::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#budgetSlider::-ms-fill-lower {
    background: #ddd;
    border-radius: 5px;
}

#budgetSlider::-ms-fill-upper {
    background: #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--accent)
}