:root {
    --highlight: rgb(35, 41, 127);
    --accent: rgb(67, 74, 175);
    --beige: rgb(242, 235, 223);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    color: var(--highlight);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-light {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.bg-semi {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 75px;
    border-bottom: 5px solid black;
    background-color: var(--beige);
    z-index: 9999;
}

.name {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    left: 70px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

#tourster img {
    width: 50px;
    margin-top: 13px;
    margin-left: 10px;
}

#tourster span {
    font-size: 35px;
    line-height: 80px;
}

#tourster2 {
    margin-bottom: 32px;
}

#tourster2 img {
    width: 55px;
}

#tourster2 span {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 65px;
}

#links {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 80px;
    font-size: 20px;
}

#links span {
    padding: 30px;
}

#links a, footer a {
    color: inherit;
    text-decoration: inherit;
}

.buttons {
    position: absolute;
    top: 0;
    right: 17.5px;
    line-height: 75px;
}

.buttons button, #waitlist {
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: none;
    outline: 3px solid var(--highlight);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#signup_btn, #logout_btn {
    background-color: var(--highlight);
    color: white;
}

#signup_btn:hover, #logout_btn:hover {
    background-color: var(--accent);
    outline: 3px solid var(--accent);
}

#signup_btn {
    margin-right: 20px;
}

#login_btn {
    background-color: white;
    color: var(--highlight);
}

#login_btn:hover {
    background-color: var(--highlight);
    color: white;
}

#blocker {
    width: 100vw;
    height: 100vh;
}

#content {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

#content h2 {
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    margin: 50px;
    height: 350px;
    width: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}

footer hr {
    border: none;
    height: 3px;
    color: rgb(87, 89, 114);
    background-color: rgb(87, 89, 114);
}

footer a {
    text-decoration: underline;
}

#footer_topleft {
    width: 50%;
    height: calc(100% - 35px);
}

#footer_topright {
    width: 50%;
    height: calc(100% - 35px);
    position: absolute;
    top: 0;
    left: 50%;
}

#footer_bottom {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0px;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#agreements {
    display: inline-block;
    position: absolute;
    right: 0;
}

#agreements a {
    text-decoration: none;
    padding: 15px;
}

#desc {
    margin-top: 10px;
    font-size: 20px;
}

#waitlist {
    background-color: white;
    color: var(--highlight);
    margin: 20px;
    margin-left: 3px;
    width: 100px;
    display: block;
}

#waitlist:hover {
    background-color: var(--highlight);
    color: white;
}

#tiny {
    font-size: 12px;
}

.table_component {
    overflow: auto;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

.table_component table {
    border: 3px none #000005;
    height: 180px;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.table_component th {
    border: 3px none #000005;
    color: #000000;
    padding: 30px 0 30px 0;
}

.table_component td {
    border: 3px none #000005;
    color: #000000;
    height: 10px;
}

#small_table {
    display: none;
}

#datePicker {
    width: 200px;
    padding: 5px;
}
.flatpickr-calendar {
    font-size: 12px;
}

/* resizing for different sizes/devices */
@media only screen and (max-width: 872px) {
    #tourster span {
        display: none;
    }

    #links {
        left: 70px;
        transform: none;
    }

    #links span {
        padding: 10px;
    }
}

@media only screen and (max-width: 770px) {
    #agreements {
        right: unset;
        left: 0;
        top: 20px;
        display: inline-block;
    }

    footer {
        margin-bottom: 0;
    }

    #footer_bottom {
        position: absolute;
        bottom: 30px;
    }

    #agreements a {
        padding: 5px;
    }
}

@media only screen and (max-width: 660px) {
    #heading {
        font-size: 20px;
        width: calc(25px * 19);
    }

    #soon {
        top: 250px;
    }
}

@media only screen and (max-width: 600px) {
    #links span {
        padding: 5px;
    }

    #buttons {
        line-height: 50px;
    }

    #buttons button {
        width: 60px;
        height: 20px;
        border-radius: 5px;
    }

    #signup_btn {
        margin-right: 10px;
    }

    #links {
        left: unset;
        right: 10px;
        line-height: unset;
        line-height: 115px;
    }

    #large_table {
        display: none;
    }

    #small_table {
        position: absolute;
        top: -130px;
        left: -2px;
        display: block;
    }

    #footer_topleft {
        width: 100%;
        height: unset;
    }

    #footer_bottom {
        top: 400px;
    }

    #desc {
        margin-top: -20px;
    }

    #waitlist {
        display: inline-block;
        height: 20px;
        width: 60px;
        border-radius: 5px;
        margin: 10px;
    }

    #footer_topright {
        width: 100%;
        position: absolute;
        left: unset;
        top: 220px;
    }

    #tourster2 {
        margin-bottom: 0;
    }

    footer {
        height: 500px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    #heading {
        font-size: 15px;
        width: calc(25px * 14 + 5px);
    }

    #soon {
        top: 240px;
    }
}

@media only screen and (max-width: 450px) {
    #agreements a {
        display: block;
        padding: 0;
    }

    #footer_bottom {
        line-height: 25px;
    }
}

@media only screen and (max-width: 410px) {
    #tourster2 img {
        width: 40px;
    }

    #tourster2 span {
        font-size: 25px;
        line-height: 45px;
        left: 50px;
    }

    #desc {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    #links {
        font-size: 15px;
    }

    #heading {
        font-size: 10px;
        width: calc(240px);
    }

    #soon {
        top: 230px;
    }

    #footer_bottom span, #agreements a {
        font-size: 12px;
    }

    #footer_bottom {
        line-height: 20px;
    }
}

@media only screen and (max-width: 350px) {
    #waitlist {
        margin-left: 0px;
    }
}