:root {
    --highlight: rgb(35, 41, 127);
    --accent: rgb(67, 74, 175);
    --beige: rgb(242, 235, 223);
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

#blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 1;
    pointer-events: none;
    animation: 1s linear fade;
    animation-fill-mode: forwards;
    z-index: 100;
}

#buttons {
    position: absolute;
    left: 50px;
    top: 120px;
}

#map {
    width: calc(40vw - 75px);
    height: calc(100vh - 200px);
    position: absolute;
    top: 150px;
    right: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.container {
    width: calc(60vw - 75px);
    height: calc(100vh - 200px);
    position: absolute;
    top: 150px;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: scroll;
}

#hotels-container {
    width: calc(60vw - 75px);
    height: calc(100vh - 200px);
    position: absolute;
    top: 150px;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: scroll;
    background-color: white;
    z-index: 100;
}

.hotel {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.h-image {
    height: 100%;
    width: 200px;
    object-fit: cover;
    outline: 3px solid black;
}

.h-name {
    position: absolute;
    top: 10px;
    left: 210px;
}

.h-price {
    position: absolute;
    top: 100px;
    right: 10px;
}

.h-amenities {
    width: calc(100% - 400px);
    position: absolute;
    bottom: 10px;
    left: 210px;
    font-size: 13px;
}

.h-amenities td {
    height: 23px;
}

.h-rating {
    position: absolute;
    top: 35px;
    left: 210px;
}

.h-link {
    padding: 5px;
    border: 3px solid black;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.h-radio {
    position: absolute;
    top: 10px;
    right: 10px;
}

.h-cover {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    opacity: 0.3;
    position: absolute;
    top: 0;
    border-radius: 10px;
    display: none;
    pointer-events: none;
}

.fa-star {
    color: rgb(237, 182, 42);
}

.fa-star-half-stroke {
    color: rgb(237, 182, 42);
}

.item {
    border-bottom: 1px solid #ddd;
    padding: 15px 15px;
    cursor: pointer;
}

.item:last-child {
    border-bottom: none;
}

.header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.arrow {
    margin-right: 10px;
}

.fa-trash-can {
    font-size: 24px;
    margin-right: 10px;
}

.icon i {
    font-size: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.restaurant {
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid var(--highlight);
}

.restaurant i {
    color: var(--highlight);
}

.attraction {
    background-color: var(--highlight);
    color: white 
}

.title {
    flex-grow: 1;
}

.dropdown {
    display: none;
    margin-top: 10px;
    padding-left: 34px;
    color: #555;
}

.trash-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#badges {
    width: 120px;
    height: 35px;
    position: absolute;
    right: 90px;
    text-align: right;
    letter-spacing: 5px;
    font-size: 25px;
}

.fa-carrot {
    color: rgb(255, 131, 52);
}

.fa-leaf {
    color: rgb(39, 116, 49);
}

.fa-wheat-awn {
    color: rgb(229, 190, 38);
}

.custom-marker {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    background-size: 100%;
    cursor: pointer;
}