<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourster</title>
    <link rel="icon" href="/static/tourster-transparent.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/home.js"></script>
</head>
<body class="bg-semi">
    <div class="spawner">
        <ul class="particles"></ul>
    </div>

    <div id="blocker"></div>

    <div id="navbar" class="noselect bg-semi">
        <div id="tourster">
            <img class="logo" src="/static/tourster-transparent.png">
            <span class="name">Tourster</span>
        </div>

        <div id="links">
            <span><a href="/">Home</a></span>
            <span><a href="/soon/">Our Services</a></span>
            <span><a href="/soon/">Contact</a></span>
        </div>

        <div id="buttons">
            <a href="/soon/"><button id="signup_btn">Sign Up</button></a>
            <a href="/soon/"><button id="login_btn">Log In</button></a>
        </div>     
    </div>

    <div id="heading">
        <h1>All-in-one AI Travel Planner</h1>
    </div>
    <div id="soon">Coming <span class="fancy"><b>Soon</b></span></div>

    <footer>
        <div id="footer_topleft">
            <div id="tourster2">
                <img class="logo" src="/static/tourster-transparent.png">
                <span class="name">Tourster</span>
            </div>
            <br><br>

            <div id="desc">Click to join our waitlist:</div>
            <a href="https://forms.gle/5qgL5C5a9PgmBiA46" target="_blank"><button id="waitlist">Waitlist</button></a>
            <div id="tiny">Get early access to our first version.</div>
        </div>

        <div id="footer_topright">
            <div class="table_component" role="region" tabindex="0">
                <table>
                    <thead>
                        <tr>
                            <th>Tourster</th>
                            <th>Explore</th>
                            <th>Connect with Us</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/soon/">About Us</a></td>
                            <td><a href="/soon/">Flights</a></td>
                            <td><a href="https://www.instagram.com/tourster.app/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon/">Contact Us</a></td>
                            <td><a href="/soon/">Hotels</a></td>
                            <td><a href="https://www.youtube.com/@ToursterApp" target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon/">FAQs</a></td>
                            <td><a href="/soon/">Activities</a></td>
                            <td><a href="#"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="footer_bottom">
            <hr>
            <span>&copy; 2024 Tourster; All Rights Reserved</span>

            <div id="agreements">
                <a href="/soon/">Privacy Policy</a>
                <a href="/soon/">Terms of Service</a>
                <a href="/soon/">Cookie Policy</a>
            </div>
        </div>
    </footer>
</body>
</html>