<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4446515835340527">
    <title>Tourster</title>
    <link rel="icon" href="/static/images/tourster-transparent.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/home.css?id=12">
    <script src="/static/js/home.js?id=123"></script>
</head>
<body class="bg-semi">
    <div class="spawner">
        <ul class="particles"></ul>
    </div>

    <div id="blocker"></div>

    {% include 'navbar.html' %}

    <div id="heading">
        <h1>All-in-one Travel Planner</h1>
    </div>
    <div id="soon">Coming <span class="fancy"><b>Soon</b></span></div>

    <h2 id="special">Limited Time Offer! Join our early access club for exclusive premium features</h2>
    <div id="purchase-widget">
        <h3>Early Access Club</h3>
        <p><s>$75</s> <span class="price">$50</span></p>
        <p>Here's what you're paying for:</p>
        <ul>
            <li><u><b>5% cashback</u></b> on your first trip</li>
            <li><b><u>Lifetime guarantee</u></b> for future premium features:</li>
            <ul>
                <li>Real-time changes to itinerary</li>
                <li>Downloadable itinerary</li>
                <li>No advertisements</li>
            </ul>
            <li><u><b>Support</u></b> for the company fundraising and launching</li>
            <li><u><b>Exclusive</u></b> offers and first to receive new updates</li>
        </ul>
        <button onclick="purchase()">Purchase now</button>
    </div>

    {% include 'footer.html' %}
</body>
</html>