<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4446515835340527">
    <title>Tourster</title>
    <link rel="icon" href="/static/images/tourster-transparent.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/home.css?id=12">
    <script src="/static/js/home.js"></script>
</head>
<body class="bg-semi">
    <div class="spawner">
        <ul class="particles"></ul>
    </div>

    <div id="blocker"></div>

    <div id="navbar" class="noselect bg-semi">
        <div id="tourster">
            <img class="logo" src="/static/images/tourster-transparent.png">
            <span class="name">Tourster</span>
        </div>

        <div id="links">
            <span><a href="/">Home</a></span>
            <span><a href="/soon">Our Services</a></span>
            <span><a href="/soon">Contact</a></span>
        </div>

        {% if session %}
            <!-- <h1>Welcome {{session.userinfo.name}}!</h1>
            <div><pre>{{pretty}}</pre></div> -->
            <div class="buttons">
                <a href="/logout"><button id="logout_btn">Logout</button></a>
            </div>
        {% else %}
            <div class="buttons">
                <a href="/soon"><button id="signup_btn">Sign Up</button></a>
                <a href="/soon"><button id="login_btn">Log In</button></a>
            </div>
        {% endif %}
    </div>

    <div id="heading">
        <h1>All-in-one Travel Planner</h1>
    </div>
    <div id="soon">Coming <span class="fancy"><b>Soon</b></span></div>

    <footer>
        <div id="footer_topleft">
            <div id="tourster2">
                <img class="logo" src="/static/images/tourster-transparent.png">
                <span class="name">Tourster</span>
            </div>

            <span id="desc">Click to join our waitlist:</span>
            <button id="waitlist" onclick="waitlist()">Waitlist</button>
            <div id="tiny">Get early access to our first version.</div>
        </div>

        <div id="footer_topright">
            <div class="table_component" role="region" tabindex="0" id="large_table">
                <table>
                    <thead>
                        <tr>
                            <th>Tourster</th>
                            <th>Explore</th>
                            <th>Connect with Us</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/soon">About Us</a></td>
                            <td><a href="/soon">Flights</a></td>
                            <td><a href="https://www.instagram.com/tourster.app/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">Contact Us</a></td>
                            <td><a href="/soon">Hotels</a></td>
                            <td><a href="https://www.youtube.com/@ToursterApp" target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">FAQs</a></td>
                            <td><a href="/soon">Activities</a></td>
                            <td><a href="#"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table_component" role="region" tabindex="0" id="small_table">
                <table>
                    <thead>
                        <tr>
                            <th>Tourster</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/soon">About Us</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">Contact Us</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">FAQs</a></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Connect with Us</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.instagram.com/tourster.app/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.youtube.com/@ToursterApp" target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>                       
        </div>

        <div id="footer_bottom">
            <hr>
            <span>&copy; 2024 Tourster; All Rights Reserved</span>

            <div id="agreements">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/cookies">Cookie Policy</a>
            </div>
        </div>
    </footer>
</body>
</html>