<link rel="stylesheet" href="/static/css/navbar.css"></link>

<div id="navbar" class="noselect bg-semi">
    <div id="tourster">
        <img class="logo" src="/static/images/tourster-transparent.png">
        <span class="name">Tourster</span>
    </div>

    <div id="links">
        <span><a href="/">Home</a></span>
        <span><a href="/soon">Our Services</a></span>
        <span><a href="/soon">Contact</a></span>
    </div>

    <div class="buttons">
        <a href="/soon"><button id="signup_btn">Sign Up</button></a>
        <a href="/soon"><button id="login_btn">Log In</button></a>
    </div>
</div>