<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4446515835340527">
    <title>Tourster</title>

    <link rel="icon" href="/static/images/tourster-transparent.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="stylesheet" href="../static/css/new.css">
</head>
<body class="bg-semi">
    <div class="spawner">
        <ul class="particles"></ul>
    </div>

    <div id="blocker"></div>
    {% include 'navbar.html' %}

    <div id="content">
        <h2>Where do you want to go?</h2>
        <form autocomplete="off" id="travelForm">
            <div id="where">
                <span>Flying from</span>
                <span>Flying to</span><br>
                <input type="text" id="from" placeholder="Search by airport or city" />
                <input type="text" id="to" placeholder="Search by airport or city" />
            </div>
            <ul class="list" id="from_list"></ul>
            <ul class="list" id="to_list"></ul>

            <br><br><br><br><br><br><br>
            <h2>When do you want to go?</h2><br>
            <div id="calendar"></div>

            <br><br><br><br><br><br><br>
            <h2>How many people are coming on this trip?</h2><br>
            Adults: <input type="number" id="adults" min="0" value="0">
            Seniors: <input type="number" id="seniors" min="0" value="0">
            Children: <input type="number" id="children" min="0" value="0">

            <br><br><br><br><br><br><br>
            <h2>Any pets?</h2>
            <div class="radio-group" id="pets"></div>  
            
            <br><br><br><br><br><br><br>
            <h2>Who are you traveling with?</h2>
            <div class="radio-group" id="who"></div>
            <textarea id="occasion" placeholder="Any special occasions? (e.g. honeymoon, family trip, etc)"></textarea>

            <br><br><br><br><br><br><br>
            <h2>How would you like to spend your time?</h2>
            <h4>Choose as many as you wish</h4>
            <div class="checkbox-group" id="time"></div>
            <textarea id="extra" placeholder="Anything else? (e.g. indoors, hiking, etc)"></textarea>

            <br><br><br><br><br><br><br>
            <h2>Do you have any culinary preferences?</h2><br>
            <textarea id="food" placeholder="Type in your preference (e.g. seafood, Asian, Western, spicy, etc.)"></textarea>

            <br><br><br><br><br><br><br>
            <h2>Do you have any dietary restrictions?</h2>
            <h4>Select all that applies</h4>
            <div class="checkbox-group" id="restrictions"></div>
            <textarea id="diet-restrictions" placeholder="Other"></textarea>

            <br><br><br><br><br><br><br>
            <h2>Budget</h2>
            <div class="budget-container">
                <input type="text" id="budgetText" placeholder="Enter amount">
                <input type="range" id="budgetSlider" min="1000" max="100000" step="1000" value="1000">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

    {% include 'footer.html' %}
    <script>
        window.search = {{ search|tojson }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/static/js/new.js"></script>
</body>
</html>