<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4446515835340527">
    <title>Tourster</title>

    <link rel="icon" href="/static/images/tourster-transparent.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="../static/css/new.css?id=1234">
</head>
<body class="bg-semi">
    <div class="spawner">
        <ul class="particles"></ul>
    </div>

    <div id="blocker"></div>

    <div id="navbar" class="noselect bg-semi">
        <div id="tourster">
            <img class="logo" src="/static/images/tourster-transparent.png">
            <span class="name">Tourster</span>
        </div>

        <div id="links">
            <span><a href="/">Home</a></span>
            <span><a href="/soon">Our Services</a></span>
            <span><a href="/soon">Contact</a></span>
        </div>

        <div class="buttons">
            <a href="/soon"><button id="signup_btn">Sign Up</button></a>
            <a href="/soon"><button id="login_btn">Log In</button></a>
        </div>
    </div>

    <div id="content">
        <h2>Where do you want to go?</h2>
        <form autocomplete="off" id="travelForm">
            <div>
                <input type="text" id="from" placeholder="Search by airport" />
                <input type="text" id="to" placeholder="Search by airport" />
            </div>
            <ul class="list" id="from_list"></ul>
            <ul class="list" id="to_list"></ul>

            <h2>When do you want to go?</h2>
            <input id="datePicker" type="text" placeholder="Select Date Range">
            <h2>How many people are coming on this trip?</h2>
            Adults: <input type="number" id="adults" min="0">
            Seniors: <input type="number" id="seniors" min="0">
            Children: <input type="number" id="children" min="0">

            <h2>Any pets?</h2>
            <div class="radio-group">
                <input type="radio" id="yes" name="pets" value="yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="pets" value="no">
                <label for="no">No</label>
                <input type="radio" id="service-dog" name="pets" value="service-dog">
                <label for="service-dog">I have a service animal</label>
            </div>  
            
            <h2>Who are you traveling with?</h2>
            <div class="radio-group">
                <input type="radio" id="friends" name="people" value="friends">
                <label for="friends">Friends</label>
                <input type="radio" id="family" name="people" value="family">
                <label for="family">Family</label>
                <input type="radio" id="romantic-partner" name="people" value="romantic-partner">
                <label for="romantic-partner">Romantic Partner</label>
                <input type="radio" id="business-partner" name="people" value="business-partner">
                <label for="business-partner">Business Partner</label>
            </div>
            <textarea id="occasion" placeholder="Any special occasions? (e.g. honeymoon, family trip, etc)"></textarea>

            <h2>How would you like to spend your time?</h2>
            <h4>Choose as many as you wish</h4>
            <div class="checkbox-group">
                <input type="checkbox" id="must-see-attractions" value="Must-see Attractions">
                <label for="must-see-attractions">Must-see Attractions</label>
                <input type="checkbox" id="great-food" value="Great Food">
                <label for="great-food">Great Food</label>
                <input type="checkbox" id="hidden-gems" value="Hidden Gems">
                <label for="hidden-gems">Hidden Gems</label>
                <input type="checkbox" id="beaches" value="Beaches">
                <label for="beaches">Beaches</label>
                <input type="checkbox" id="museums" value="Museums">
                <label for="museums">Museums</label>
                <input type="checkbox" id="sports" value="Sports">
                <label for="sports">Sports</label>
                <input type="checkbox" id="live-music-concerts" value="Live Music and Concerts">
                <label for="live-music-concerts">Live Music and Concerts</label>
                <input type="checkbox" id="luxury-shopping" value="Luxury Shopping">
                <label for="luxury-shopping">Luxury Shopping</label>
                <input type="checkbox" id="history" value="History">
                <label for="history">History</label>
                <input type="checkbox" id="culture" value="Culture">
                <label for="culture">Culture</label>
                <input type="checkbox" id="wine-beer" value="Wine & Beer">
                <label for="wine-beer">Wine & Beer</label>
                <input type="checkbox" id="active-outdoors" value="Active outdoors">
                <label for="active-outdoors">Active outdoors</label>
                <input type="checkbox" id="festivals-events" value="Festivals and events">
                <label for="festivals-events">Festivals and events</label>
                <input type="checkbox" id="local-markets" value="Local Markets">
                <label for="local-markets">Local Markets</label>
                <input type="checkbox" id="guided-tours" value="Guided tours">
                <label for="guided-tours">Guided tours</label>
                <input type="checkbox" id="nightlife" value="Nightlife">
                <label for="nightlife">Nightlife</label>
                <input type="checkbox" id="spas" value="Spas">
                <label for="spas">Spas</label>
                <input type="checkbox" id="amusement-parks" value="Amusement Parks">
                <label for="amusement-parks">Amusement Parks</label>
            </div>
            <textarea id="extra" placeholder="Anything else? (e.g. indoors, hiking, etc)"></textarea>

            <h2>Do you have any culinary preferences?</h2>
            <textarea id="food" placeholder="Type in your preference (e.g. seafood, Asian, Western, spicy, etc.)"></textarea>

            <h2>Do you have any dietary restrictions?</h2>
            <h4>Select all that applies</h4>
            <div class="checkbox-group">
                <input type="checkbox" id="nut-allergy" value="nut-allergy">
                <label for="nut-allergy">Nut Allergy</label>
                <input type="checkbox" id="gluten-free" value="gluten-free">
                <label for="gluten-free">Gluten Free</label>
                <input type="checkbox" id="vegan" value="vegan">
                <label for="vegan">Vegan</label>
                <input type="checkbox" id="vegetarian" value="vegetarian">
                <label for="vegetarian">Vegetarian</label>
                <input type="checkbox" id="kosher" value="kosher">
                <label for="kosher">Kosher</label>
                <input type="checkbox" id="halal" value="halal">
                <label for="halal">Halal</label>
            </div>
            <textarea id="diet-restrictions" placeholder="Other"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

    <footer>
        <div id="footer_topleft">
            <div id="tourster2">
                <img class="logo" src="/static/images/tourster-transparent.png">
                <span class="name">Tourster</span>
            </div>

            <span id="desc">Click to join our waitlist:</span>
            <button id="waitlist" onclick="waitlist()">Waitlist</button>
            <div id="tiny">Get early access to our first version.</div>
        </div>

        <div id="footer_topright">
            <div class="table_component" role="region" tabindex="0" id="large_table">
                <table>
                    <thead>
                        <tr>
                            <th>Tourster</th>
                            <th>Explore</th>
                            <th>Connect with Us</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/soon">About Us</a></td>
                            <td><a href="/soon">Flights</a></td>
                            <td><a href="https://www.instagram.com/tourster.app/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">Contact Us</a></td>
                            <td><a href="/soon">Hotels</a></td>
                            <td><a href="https://www.youtube.com/@ToursterApp" target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">FAQs</a></td>
                            <td><a href="/soon">Activities</a></td>
                            <td><a href="#"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table_component" role="region" tabindex="0" id="small_table">
                <table>
                    <thead>
                        <tr>
                            <th>Tourster</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="/soon">About Us</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">Contact Us</a></td>
                        </tr>
                        <tr>
                            <td><a href="/soon">FAQs</a></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Connect with Us</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://www.instagram.com/tourster.app/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://www.youtube.com/@ToursterApp" target="_blank"><i class="fa-brands fa-youtube"></i> Youtube</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>                       
        </div>

        <div id="footer_bottom">
            <hr>
            <span>&copy; 2024 Tourster; All Rights Reserved</span>

            <div id="agreements">
                <a href="/privacy">Privacy Policy</a>
                <a href="/terms">Terms of Service</a>
                <a href="/cookies">Cookie Policy</a>
            </div>
        </div>
    </footer>

    <script>
        window.search = {{ search|tojson }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../static/js/new.js"></script>
</body>
</html>