<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Itinerary</title>
    <link rel="stylesheet" href="/static/css/trip.css">
    <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css"/>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
</head>

<body>
    <div id="blocker"></div>
    <div id="map"></div>
    <script>
        window.data = {{ data|tojson }};
    </script>
    <script src="/static/js/trip.js"></script>
</body>
</html>