<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Itinerary</title>
    <link rel="icon" href="/static/images/tourster-transparent.png">
    <link rel="stylesheet" href="/static/css/trip.css">
    <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json5/2.2.3/index.min.js"></script>
</head>

<body>
    <div id="header"></div>
    <div id="buttons">
        <button id="flights" onclick="" disabled><i class="fa-solid fa-plane"></i></button>
        <button id="hotels" onclick=""><i class="fa-solid fa-bed"></i></button>
    </div>

    <div id="hotels-container"></div>
    <div class="container"></div>
    <div id="map"></div>

    <div id="blocker"></div>

    <script>window.data = {{ data|tojson }};</script>
    <script src="/static/js/trip/map.js"></script>
    <script src="/static/js/trip/restaurants.js"></script>
    <script src="/static/js/trip/attractions.js"></script>
    <script src="/static/js/trip/hotels.js"></script>    
    <script src="/static/js/trip/tools.js"></script>
    <script src="/static/js/trip/allocation.js"></script>
    <script src="/static/js/trip/itenerary.js"></script>
    <script src="/static/js/trip/main.js"></script>
</body>
</html>